h1 {
    text-align: center;
}

.principal {
    text-align: center;
    width: 30%;
	vertical-align: top;
	margin: auto;
	padding: 30px 20px;
    box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	background-color: cadetblue;
}

.principal label {
	display: block;
	font-weight: bold;
}

.Botao {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	font-weight: bold;
}
